#cloud-config
# write_files:
#   - path: /docker-compose.yml
#     encoding: base64
#     content: $DOCKER_COMPOSE_YML

runcmd:
- apt-get update
- apt-get install -y docker.io docker-compose
- docker-compose -f /docker-compose.yml up -d
