#cloud-config

write_files:
- owner: root:root
  path: /docker-compose.yml
  permissions: '0600'
  content: |
    version: '3.6'

    services:
      github-runner:
        image: ghcr.io/stonemaster/github-actions-runner:main
        container_name: githubrunner
        restart: always
        environment:
          - GITHUB_REPO_URL=$GITHUB_REPO_URL
          - RUNNER_TOKEN=$RUNNER_TOKEN
          - PRE_JOB_SCRIPT=$PRE_JOB_SCRIPT
          - POST_JOB_SCRIPT=$POST_JOB_SCRIPT
          - SHUTDOWN_RUNNER_SCRIPT=$SHUTDOWN_RUNNER_SCRIPT

runcmd:
- apt-get update
- apt-get install -y docker.io docker-compose
- docker-compose -f /docker-compose.yml up -d
